<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid container">
    <a class="navbar-brand text-white" href="/">Learn Tool <i class="fa-solid fa-gear"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-1 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/groups">Groups</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="/new-group" class="btn btn-outline-light" type="submit">New Group</a>
      </div>
      <form class="d-flex mt-2 mb-2" role="search" action="/search">
        <input type="text" class="form-control me-2 ms-2 bg-white text-dark" placeholder="Search">
        <button class="btn btn-outline-primary"><i class="fa-solid fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>