<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>

<div class="container" style="margin-top:1.5rem">
  <h1 style="margin-bottom: 1rem;">Group Name</h1>
  <a href="/new-task" class="btn btn-primary">New Task</a>
  <a href="/new-filter" class="btn btn-dark">New Filter</a>
  <a href="/new-statistic" class="btn btn-secondary">Statistics</a>
  <div class="list-group" style="margin-top: 1rem;">
    <a href="#" class="list-group-item list-group-item-action">Task 01</a>
  </div>
</div>

<%-include('../partials/footer.ejs')%>
