<%-include('../partials/header.ejs')%>

<%-include('../partials/navbar.ejs')%>

<div class="container">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 26rem; margin-top: 3rem">
        <div class="card-body">
          <h2 class="card-title">New Group <i class="fa-solid fa-user-group"></i></h2>
          <form>
            <input type="text" placeholder="Group Name" name="" id="" class="form-control form-control-lg">
            <br>
            <textarea placeholder="Description (Optional)" class="form-control"></textarea>
            <br>
            <input type="password" name="" id="" class="form-control" placeholder="Password (Optional)">
            <br>
            <input type="password" name="" id="" class="form-control" placeholder="Password Again (Optional)">
            <br>
            <button class="btn btn-primary btn-lg btn-block">
                Create
            </button>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>

<%-include('../partials/footer.ejs')%>
