<%-include('../partials/header.ejs')%>

<%-include('../partials/navbar.ejs')%>

<div class="container">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 26rem; margin-top: 3rem">
        <div class="card-body">
          <h2 class="card-title"><i class="fa-solid fa-list-check"></i> New Task</h2>
          <form action="/group">
            <br>
            <input type="text" placeholder="Task Name" name="" id="" class="form-control form-control-lg">
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                  Filter 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">
                  Filter 2
                </label>
            </div>
            <br>
            <a href="" class="btn btn-primary btn-block">
                Create New Task
            </a>
            <br>
          </form>
        </div>
      </div>
    </div>
  </div>

<%-include('../partials/footer.ejs')%>
