<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>

<div class="container" style="margin-top:1.5rem">
  <h1>Groups Founded: <i class="fa-solid fa-user-group"></i></h1>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Group 01</a>
    <a href="#" class="list-group-item list-group-item-action">Group 02</a>
    <a href="#" class="list-group-item list-group-item-action">Group 03</a>
  </div>
</div>

<%-include('../partials/footer.ejs')%>
