<%-include('../partials/header.ejs')%>
<%-include('../partials/navbar.ejs')%>

    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="card" style="width: 26rem; margin-top: 4rem">
          <div class="card-body">
            <h2 class="card-title">Sign In</h2>
            <br>
            <form>
              <input type="email" placeholder="Email" class="form-control">
              <br>
              <input type="password" placeholder="Password" class="form-control">
              <br>
              <button class="btn btn-primary btn-lg btn-block">
                Sign in
              </button>
              <br><br>
              <a href="/signup">Sign Up</a>
            </form>
          </div>
        </div>
      </div>
    </div>

<%-include('../partials/footer.ejs')%>
